@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-base {
        @apply  px-8 py-3 text-lg rounded
        global-border /*border*/
        shadow-sm backdrop-blur
    }

    .btn-default {
        @apply btn-base
        bg-gray-100 hover:bg-gray-200/85 active:bg-transparent
        dark:bg-gray-50/5 dark:hover:bg-black/20 dark:active:bg-black/25
    }

    .btn-primary {
        @apply btn-base
        bg-blue-950 hover:bg-blue-950/85 active:bg-blue-950/70
        dark:bg-blue-950 dark:hover:bg-blue-950/85 dark:active:bg-blue-950/70
    }

    .btn-secondary {
        @apply btn-base
        bg-transparent hover:bg-gray-200/90 active:bg-transparent
        dark:bg-transparent dark:hover:bg-black/20 dark:active:bg-black/25
    }

    .btn-function {
        @apply global-animate global-flex
        w-full py-2 text-sm rounded
        hover:bg-black/5 active:bg-black/10
    }

    .global-bg {
        @apply bg-slate-100 dark:bg-slate-900;
    }

    .global-text {
        @apply text-gray-900 dark:text-gray-100;
    }

    .global-animate {
        @apply transition-all duration-100 ease-in;
    }

    .global-flex {
        @apply flex items-center justify-center;
    }

    .global-border {
        @apply border border-gray-300 dark:border-gray-700;

    }

    /*calculator container*/
    .calc-container {
        @apply global-animate
        rounded-lg
        backdrop-blur
        global-border /*border*/
        bg-gray-100/50 dark:bg-white/5 /*background*/
        shadow-2xl drop-shadow-2xl /*shadow*/
    }

    /*calculator screen*/
    .display-bg{
        @apply
        global-border /*border*/
        bg-black/5 /*background*/
    }
}
